$color-primary: #2D4966;
$color-secondary: #CED9E4;
$color-tertiary: #E9F0F7;

$color-grey-light: #EAEAEA;
$color-grey-light-2: #979797;
$color-grey-mid: #CDCDCD;
$color-grey-dark: #191919;
$color-grey-dark-2: #181818;

$color-black: #000;
$color-white: #fff;

$font-primary: 'Roboto Mono', monospace;
$font-secondary: 'Playfair Display', serif;
$font-tertiary: 'Helvetica', sans-serif;
