.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    cursor: pointer;
    border: none;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &-regular {
    width: 16rem;
  }

  &-wide {
    width: 29.5rem;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;
    height: 5.2rem;
    font-family: $font-tertiary;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: .2rem;
  }

  &--secondary {
    background-color: rgba(255, 255, 255, 0);
    border: .1rem solid $color-primary;
    width: 5rem;
    height: 2.7rem;
    color: $color-grey-dark;
    font-family: $font-primary;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: .5rem;
  }

  &--cancel {
    background-color: $color-white;
    width: 1.6rem;
    height: 1.6rem;
  }

  &--quantity {
    background-color: $color-white;
    width: 1.2rem;
  }
}
